.top-bar {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 0.6rem;
    padding: 10px ;
    text-decoration:#efeeea;
}

.top-bar h5 {
    margin: 0;
}

.underline {
    text-decoration: underline;
}

.mobile-nav {
    display: none;
}

.container {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.header {
    background-color: #efeeea;

}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-weight: bold;
}

.nav-links li{
    margin-right: 20px;

}

.login-register li:first-of-type {
    margin-right: 20px;
}

.btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.8em;
    font-size: 0.8rem;
}

section {
    display: flex;
    background-color: #efeeea;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.content {
}
.partners {
    overflow-y: scroll;
}
.partners li {
    /* margin: auto 25px; */
}
.partners::-webkit-scrollbar {
    display: none;
  }

.partners{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.partners ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    align-items: center;
}

.partners li img {
    width: 100px;
}
.hero {
    display: flex;
    padding: 0 0 60px;
    justify-content: center;
}

.hero-image img {
    max-width: 100%;
    width: 50%;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
}
.hero-description{
    padding: 2rem 0;
    flex: 1 1 auto;
}

.hero-description h1{
    margin-top:  0;
}
.hero-description ul {
    padding: 0;
}

.hero-description ul li {
    list-style: none;
}

.hero-description ul li::before{
    background-image: url('./Assets/Checkmark.svg');
    background-size: contain;
    content: "";
    display: inline-block;
    position: relative;
    top: 0.3rem;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.middle-section {
    width: 50%;
}

.phone-image {
    width: 100%;
    position: relative;
}

.phone-image img{
    position: absolute;
    width: 50rem;
    object-fit: cover;
    top: -0.8rem;
    right: 4rem;
}

.content {
    padding: 50px;
}
#partners ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#partners li{
    

}

#partners li img{
    display:flex;
    width: 100px;
    height: auto;
    

}

.text-editor {
    display: flex;
}

#text-editor-img{
    flex: 0 0 60%;
    max-width: fit-content;
}

#text-editor-img img{
    width: 100%;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
}
.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.footer-container {
    display: flex;
}
.footer-links-container {
    display: flex;
    
}

.company-description {
    flex: 0 0 30%;
    margin-right: 6rem;
}

.footer-links {
    margin: 0 30px 0 30px;

}

.footer-links a{
    color: white;
    text-decoration: none;;


}

footer ul {
    padding-left: 0;
}

.footer-links ul li{
    list-style: none;

}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
    }
    
@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
    .hero{
        flex-direction: column-reverse;
        padding: 0;
    }
    .hero-image {
        justify-content: flex-start;
        height: 400px;
        flex-basis: auto;
    }
    .hero-image img {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    .hero-description {
        width: 100%;
    }

    .content {
        flex-direction: column;
    }

    .middle-section {
        width: 60%;
    }
    .phone-image img{
        object-fit: cover;
        object-position: -18rem;
        height: 250px;
        width: 100%;
        position: static;
    }

    .text-editor {
        flex-direction: column-reverse;
    }

    .footer-container {
        flex-wrap: wrap;
    }

}

@media (max-width: 600px) {
   
    body {
        /* font-size: 0.9rem; */
    }
    .container{
    }
    .nav-links {
        display: none;
        list-style: none;
        transition: width .8s, height .8s;
    }
    .mobile-links {
        display: none;
        
    }
    .mobile-nav {
        display:flex;
        
    }

    .mobile-nav ul {
        flex-direction: column;
    }

    .checkbox:checked ~ .nav-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .nav-links li {
        margin: 10px ;
    }
    .mobile-links .nav-links{
        flex-direction: column;
        
    }
    .mobile-links .login-register{
        flex-direction: column;
    }
    .menu-click {

    }

    .hero-description {
        width: 100%;
    }

    .hero-form {
        display: flex;
    }

    .hero-form input{
        width: 50%;
        margin-right: 30px;
    }

    .hero-image {
        height: auto;
    }

    .hero-image img {
        object-fit: contain;
    }

    .middle-section {
        width: 100%;
    }

    .phone-image img {
        object-position: -20rem;
        height: 200px;
    }
    .text-editor {
        flex-direction: column-reverse;
    }

    .content {
        
        display: flex;
        flex-direction: column;
        background-size: 230%;
        background-position: bottom left -365px;
        background-repeat: no-repeat;
    }

    .text-editor-img img {
        width: 100%;
    }
    
    .footer-container {
        flex-wrap: wrap;
    }

    .company-description {
        flex-basis: 100%;
        margin: 0;
    }

    .footer-links-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-links {
        margin: 0 ;
        flex: 0 0 50%;
    }

}